/* AddToCart.css */

.card-info {
    padding: 2rem;
    text-align: center;
}

.card-info h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.add-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    max-width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: #212121;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

/* Media Queries */

@media (max-width: 420px) {
    .add-cards .card {
        flex-direction: column;
        gap: 1rem;
        font-size: large;
    }
}